In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv(r"D:\covid_prediction\data\covid.csv")

In [3]:
df.head(3)

   Age  Gender  Fever   Cough     City Has_Covid
0   56    Male  102.4    Mild   Mumbai        No
1   19  Female  101.6  Strong   Mumbai        No
2   76  Female  102.0    Mild  Kolkata        No

In [4]:
df.isnull().sum().sum()

np.int64(0)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Age        1000 non-null   int64
 1   Gender     1000 non-null   object
 2   Fever      1000 non-null   float64
 3   Cough      1000 non-null   object
 4   City       1000 non-null   object
 5   Has_Covid  1000 non-null   object
dtypes: float64(1), int64(1), object(4)
memory usage: 47.0+ KB

In [6]:
df['Has_Covid'].value_counts()

Has_Covid
No     518
Yes    482
Name: count, dtype: int64

In [9]:
df['City'].unique()

array(['Mumbai', 'Kolkata', 'Bangalore', 'Delhi'], dtype=object)

In [11]:
df['Cough'].unique()

array(['Mild', 'Strong'], dtype=object)

In [13]:
df['Gender'].unique()

array(['Male', 'Female'], dtype=object)